# Copyright (c) 2026 Richard Osterloh
# SPDX-License-Identifier: Apache-2.0

if BOARD_RP2350_POE_ETH

configdefault NET_L2_ETHERNET
	default y

# The board is bus- or PoE-powered, never USB bus-powered only.
config USB_SELF_POWERED
	default n

endif # BOARD_RP2350_POE_ETH
