/*
 * Copyright (c) 2026 Richard Osterloh
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Waveshare RP2350-POE-ETH: RP2350A + WIZnet W6300 hardwired TCP/IP
 * Ethernet controller, with an 802.3af PoE module header.
 *
 * Pin assignments are taken from the vendor's board support code at
 * https://github.com/waveshareteam/RP2350-POE-ETH
 * (examples/C/01-MQTT/lib/Config/DEV_Config.h and mqtt_execute_commands.h).
 * They match the WIZnet W5500-EVB-Pico2 reference wiring exactly.
 */

#include <freq.h>

#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>

#include "rp2350_poe_eth-pinctrl.dtsi"

/ {
	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &qmi;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	aliases {
		watchdog0 = &wdt0;
		led-strip = &ws2812;
	};

	/*
	 * Power source sense lines. Both are driven by the onboard supply
	 * monitoring: PoE detect is high when the 802.3af module is supplying
	 * the board, USB detect is high when VBUS is present.
	 */
	power_sense: power-sense {
		compatible = "gpio-keys";

		poe_detect: poe_detect {
			gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
			label = "PoE power detect";
		};

		usb_detect: usb_detect {
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
			label = "USB power detect";
		};
	};

	/*
	 * 20 castellated GPIOs are broken out. GP16-GP21 are consumed by the
	 * W6300, GP23-GP25 and GP29 by the power sense / status LED / VSYS
	 * divider, so they are not exposed here.
	 */
	poe_eth_header: connector {
		compatible = "gpio-connector";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 0 0>,	/* GP0 */
			   <1 0 &gpio0 1 0>,	/* GP1 */
			   <2 0 &gpio0 2 0>,	/* GP2 */
			   <3 0 &gpio0 3 0>,	/* GP3 */
			   <4 0 &gpio0 4 0>,	/* GP4 */
			   <5 0 &gpio0 5 0>,	/* GP5 */
			   <6 0 &gpio0 6 0>,	/* GP6 */
			   <7 0 &gpio0 7 0>,	/* GP7 */
			   <8 0 &gpio0 8 0>,	/* GP8 */
			   <9 0 &gpio0 9 0>,	/* GP9 */
			   <10 0 &gpio0 10 0>,	/* GP10 */
			   <11 0 &gpio0 11 0>,	/* GP11 */
			   <12 0 &gpio0 12 0>,	/* GP12 */
			   <13 0 &gpio0 13 0>,	/* GP13 */
			   <14 0 &gpio0 14 0>,	/* GP14 */
			   <15 0 &gpio0 15 0>,	/* GP15 */
			   <22 0 &gpio0 22 0>,	/* GP22 */
			   <26 0 &gpio0 26 0>,	/* GP26 */
			   <27 0 &gpio0 27 0>,	/* GP27 */
			   <28 0 &gpio0 28 0>;	/* GP28 */
	};
};

/*
 * 16 MB onboard NOR flash, per the vendor's product description. If your
 * board carries a smaller part, shrink this (and the partition layout in
 * the board-level .dts files) to match.
 */
&flash0 {
	reg = <0x10000000 DT_SIZE_M(16)>;
	ranges = <0x0 0x10000000 DT_SIZE_M(16)>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	clock-frequency = <DT_FREQ_M(8)>;
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

	ethernet: w6300@0 {
		compatible = "wiznet,w6300";
		reg = <0x0>;
		spi-max-frequency = <DT_FREQ_M(33)>;
		int-gpios = <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
		zephyr,random-mac-address;
		status = "okay";
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
};

/* ADC3 / GP29 sits on the VSYS divider. */
&adc {
	status = "okay";
	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";
};

&pio0 {
	status = "okay";

	pio-ws2812 {
		compatible = "worldsemi,ws2812-rpi_pico-pio";
		status = "okay";
		pinctrl-0 = <&ws2812_pio0_default>;
		pinctrl-names = "default";
		bit-waveform = <3>, <3>, <4>;

		ws2812: ws2812 {
			status = "okay";
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			chain-length = <1>;
			color-mapping = <LED_COLOR_ID_GREEN
					 LED_COLOR_ID_RED
					 LED_COLOR_ID_BLUE>;
			reset-delay = <280>;
			frequency = <DT_FREQ_K(800)>;
		};
	};
};

&pio1 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&vreg {
	status = "okay";
};

zephyr_udc0: &usbd {
	status = "okay";
};

pico_spi: &spi0 {};

pico_i2c0: &i2c0 {};

pico_i2c1: &i2c1 {};

pico_serial: &uart0 {};
