/* Match the SSD1306 128x32 dimensions */
&sdl_dc {
	width  = <128>;
	height = <32>;
};

/* Fake actuators so motor and gimbal paths run in sim */
/ {
	aliases {
		left-motor = &fake_motor_left;
		right-motor = &fake_motor_right;
		gimbal-pan = &fake_gimbal_pan;
		gimbal-tilt = &fake_gimbal_tilt;
	};

	fake_motor_left: fake-motor-left {
		compatible = "rosterloh,actuator-fake";
	};

	fake_motor_right: fake-motor-right {
		compatible = "rosterloh,actuator-fake";
	};

	fake_gimbal_pan: fake-gimbal-pan {
		compatible = "rosterloh,actuator-fake";
	};

	fake_gimbal_tilt: fake-gimbal-tilt {
		compatible = "rosterloh,actuator-fake";
	};
};
